<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Ronak Pandya/IdeaProjects/Mobile_Auotmation/Appium_Framework_Design"><classes><class name="pageObject.android.API_Testing"><methods><include name="getUser"/><include name="createUser"/><include name="deleteUser"/><include name="userNotFound"/><include name="badRequestExample"/></methods></class><class name="pageObject.android.Ecommerce_ts2"><methods><include name="FormFill_test1"/></methods></class></classes></test></suite>